{% extends 'layout.html' %}
{% block title %}Albums{% endblock %}
{% block main %}

{% for post in posts %}
  <a class='to-post' style='text-decoration: none; color: black' href='{{ url_for("album",post_id=post.id) }}'>
    <article>
      <div class='header'>
	<h3>{{ post.title }}</h3>
        <span class='time'>{{ post.time.day }}/{{ post.time.month }}/{{ post.time.year }}</span>
      </div>
      <div class='body'>
        <p>
          <img src='{{ url_for("static",filename="upload/"+post.images.first().filename) }}'>
          {{ post.body_to_html('albums')|safe|truncate(400,False) }}
        </p>
      </div>
    </article>
  </a> 
{% endfor %}

{% endblock %}
