{% extends 'layout.html' %}
{% block title %}Album{% endblock %}
{% block main %}

<section>
  <div class='header'>
    <h2>{{ post.title }}</h2>
    <div>
      <span class='time'>{{ post.time.day }}/{{ post.time.month }}/{{ post.time.year }}</span>
      <a class='button orange' href='{{ url_for("edit_album",post_id=post.id) }}'>edit</a>
      <a class='button red' href='{{ url_for("delete_album",post_id=post.id) }}'>delete</a>
    </div>
  </div>
  <br>
  <section class='album-pics'>
  {% for image in post.images|sort(attribute='rank') %}
    <a href='{{ url_for("image",img_id=image.id) }}'>
      <img src='{{ url_for("static",filename="upload/"+image.filename) }}'>
    </a>
  {% endfor %}
  </section>
  <p>{{ post.body_to_html('article')|safe }}</p>
  <br>
  <p class='tags'>{{ post.tags|join(', ',attribute='name') }}</p>
</section>

<br><hr><br>

<h2>Comments</h2>
<br>
{% for comment in post.comments %}
  <article class='card comment'>
    <div class='header'>
      <h4 {% if current_user.is_authenticated %}style='color: #758'{% endif %}>{{ comment.author }}</h4>
      <div>
        <span class='time'>{{ comment.time.day }}/{{ comment.time.month }}/{{ comment.time.year }}</span>
        <a class='button green' href='{{ url_for("reply_comment",comment_id=comment.id) }}'>reply</a>
        {% if current_user.is_authenticated %}
          <a class='button red' href='{{ url_for("delete_comment",comment_id=comment.id) }}'>delete</a>
        {% endif %} 
      </div>
    </div>
    <div class='body'>
      <p>{{ comment.body }}</p>
    </div>
  </article>
  <!-- replies -->
  {% for reply in comment.children %}
    <article class='card comment reply'>
      <div class='header'>
        <h4>{{ reply.author }}</h4>
        <div>
          <span class='time'>{{ reply.time.day }}/{{ reply.time.month }}/{{ reply.time.year }}</span>
          {% if current_user.is_authenticated %}
            <a class='button red' href='{{ url_for("delete_comment",comment_id=reply.id) }}'>delete</a>
          {% endif %} 
        </div>
      </div>
      <div class='body'>
        <p>{{ reply.body }}</p>
      </div>
    </article>
  {% endfor %}
{% endfor %}
<br><hr><br>

<h2>Leave a comment</h2>
<br>
<form method='post'>
{{ form.csrf_token }}
  <!-- author -->
  <strong>{{ form.author.label }}</strong><br>
  {{ form.author(class_='form-control') }}
  <p class='error'>{{ form.author.errors[0] }}</p>
  <!-- body -->
  <strong>{{ form.body.label }}</strong><br>
  {{ form.body(class_='form-control',rows='3') }}
  <p class='error'>{{ form.body.errors[0] }}</p>
  <!-- submit -->
  <button type='submit'>Submit</button>
</form>

{% endblock %}
