{% extends 'layout.html' %}
{% block title %}Articles{% endblock %}
{% block main %}

{% for post in posts %}
  <a class='to-post' href='{{ url_for("article",post_id=post.id) }}'>
    <article>
      <div class='header'>
	<h3>{{ post.title }}</h3>
        <span class='time'>{{ post.time.day }}/{{ post.time.month }}/{{ post.time.year }}</span>
      </div>
      <div class='body'>
        <p>{{ post.body_to_html('articles')|safe|truncate(400,False,' ...') }}</p>
      </div>
    </article>
  </a>
{% endfor %}

{% endblock %}
