{% extends 'layout.html' %}
{% block title %}Edit album{% endblock %}
{% block main %}

<h2>Edit album</h2>
<br>

<form method='post' enctype='multipart/form-data'>
{{ form.csrf_token }}
  <!-- title -->
    <h4>{{ form.title.label }}</h4>
    <span>{{ form.title.errors[0] }}</span>
    {{ form.title }}
    <br><br>
  <!-- body -->
    <h4>{{ form.body.label }}</h4>
    <span>{{ form.body.errors[0] }}</span>
    {{ form.body(class_='body',rows='10',cols='30') }}
    <br>
  <!-- formatting-->
    <strong onclick='strong()'>b</strong>
    <em onclick='em()'>i</em>
    <u onclick='u()'>u</u>
    <br><br>
  <!-- file -->
    <h4>{{ form.file.label }}</h4>
    {{ form.file(multiple='') }} 
    <span class='red'>{{ form.file.errors[0] }}</span>
    <br><br>
  <!-- tags -->
    <h4>Tags</h4>
    {% for tag in tags %}
      <label class='clickable'>
        {% if tag in post.tags %}
          <input type='checkbox' checked name='tag_id' value='{{ tag.id }}'>
        {% else %}
          <input type='checkbox' name='tag_id' value='{{ tag.id }}'>
        {% endif %}
        {{ tag.name }}
      </label>
    {% endfor %}
    <br><br>
  <!-- new tag -->
    <h4>New tags</h4>
    <input type='text' size='10' name='new_tags'>
    <input type='text' size='10' name='new_tags'>
    <input type='text' size='10' name='new_tags'>
    <br><br>
  <!-- submit -->
  <button type='submit'>Submit</button>
</form>

{% endblock %}
