<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">
<title>Chez Si - {% block title %}{% endblock %}</title>
<link rel="icon" href="{{ url_for('static',filename='img/favicon1.png') }}">
<link rel="stylesheet" href="{{ url_for('static',filename='css/custom.css') }}">
<script type="text/javascript" src="{{ url_for('static',filename='js/custom.js') }}"></script> 
</head>

<body>
<div class='container'>
  <header>
    <a href='{{ url_for("login") }}'>
      <img src='{{ url_for("static",filename="img/si4_135px_dot.jpg") }}'>
    </a>
  </header>

  <nav>
    <div class='link {% if request.path=="/" %}current-page{% endif %}'><a href='{{ url_for("articles") }}'>Articles</a></div>
    <div class='link {% if request.path=="/albums" %}current-page{% endif %}'><a href='{{ url_for("albums") }}'>Albums</a></div>
    {% if current_user.is_authenticated %}
      <div class='link {% if request.path=="/new_article" %}current-page{% endif %}'><a href='{{ url_for("new_article") }}'>New article</a></div>
      <div class='link {% if request.path=="/new_album" %}current-page{% endif %}'><a href='{{ url_for("new_album") }}'>New album</a></div>
    {% endif %}
    <div class='link {% if request.path=="/search" %}current-page{% endif %}'><a href='{{ url_for("search") }}'>Search</a></div>
  </nav>

  <main>
  <!-- flashed messages -->
    {% with messages=get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category,message in messages %}
          <p class='flash {{ category }}'>{{ message }}</p>
        {% endfor %}
      {% endif %}
    {% endwith %}
  <!-- main content -->
    {% block main %}{% endblock %}
  </main>

</div>
</body>
</html>
