{% extends 'layout.html' %}
{% block title %}Login{% endblock %}
{% block content %}

<h3>Login</h3>
<br>

<form method='post'>
{{ form.csrf_token }}
  <!-- password -->
  <fieldset class='form-group'>
    <h5>{{ form.password.label }}</h5>
    <div class='row'>
      <div class='col-md-6'>
        {{ form.password(class_='form-control') }}
      </div>
      <div class='col-md-6'>
        <span class='alert-danger'>{{ form.password.errors[0] }}</span>
      </div>
    </div>
  </fieldset>
  <button type='submit' class='btn btn-sm default'>Submit</button>
</form>

{% endblock %}
