{% extends 'layout.html' %}
{% block title %}New article{% endblock %}
{% block main %}

<h2>New article</h2>
<br>

<form method='post' enctype='multipart/form-data'>
{{ form.csrf_token }}
  <!-- title -->
  <h4>{{ form.title.label }}</h4>
  <span class='red'>{{ form.title.errors[0] }}</span>
  {{ form.title }}
  <br><br>
  <!-- body -->
  <h4>{{ form.body.label }}</h4>
  <span class='red'>{{ form.body.errors[0] }}</span>
  {{ form.body(class_='body',rows='10',cols='40') }}
  <br>
  <!-- formatting / remove span ?-->
  <strong onclick='strong()'>b</strong>
  <em onclick='em()'>i</em>
  <u onclick='u()'>u</u>
  <br><br>
  <!-- file -->
  <h4>{{ form.file.label }}</h4>
  {{ form.file(onchange='autoImg(this)') }} 
  <span class='red'>{{ form.file.errors[0] }}</span>
  <br><br>
  <!-- tags -->
  <h4>Tags</h4>
  {% for tag in tags %}
    <label class='clickable'>
      <input type='checkbox' name='tag_id' value='{{ tag.id }}'>
      {{ tag.name }}
    </label>
  {% endfor %}
  <br><br>
  <!-- new tag -->
  <h4>New tags</h4>
  <input type='text' name='new_tags' class='form-control'>
  <input type='text' name='new_tags' class='form-control'>
  <input type='text' name='new_tags' class='form-control'>
  <br><br>
  <!-- submit -->
  <button type='submit'>Submit</button>
</form>

{% endblock %}
