{% extends 'layout.html' %}
{% block title %} - Index{% endblock %}
{% block content %}

<h3>Search</h3>
<br>
<form method='post'>
  <!-- keywords -->
  <fieldset class='form-group'>
    <h5>by keywords</h5>
    <div class='row'>
      <div class='col-md-6'>
        <input type='text' name='keywords'>
      </div>
    </div>
  </fieldset>
  <!-- tags -->
  <fieldset class='form-group'>
    <h5>by tags</h5>
    {% for tag in tags %}
      <label class='clickable'>
        <input type='checkbox' name='tag_id' value='{{ tag.id }}'>
        {{ tag.name }}
      </label>
    {% endfor %}
      </div>
    </div>
  </fieldset>
  <!-- submit -->
  <button type='submit' class='btn btn-primary'>Search</button>
</form>

{% endblock %}
